# dependencies
composer.lock
composer.phar
vendor/

# IDEs and editors
.idea/
.idea_modules/
.project
.classpath
.c9/
*.iws
*.launch
.settings/
*.sublime-workspace
.nb-gradle/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
.externalToolBuilders/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# system files
.DS_Store
Thumbs.db
desktop.ini

# logs
build/logs/
*.log

__MACOSX/
